<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="almlogformat" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:uppercase=true}: ${message}"/>
  <targets>
    <target xsi:type="AsyncWrapper" name="asyncFileLogger">
      <target xsi:type="File"
              layout="${almlogformat}"
              name="logFile"
              fileName="${processname}.log"
              archiveFileName="${processname}.${shortdate}.{###}.log"
              archiveAboveSize="524000000"
              archiveEvery="Day"
              maxArchiveFiles="60"/>
    </target>

    <target xsi:type="Console" name="consoleLogger" layout="${almlogformat}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="consoleLogger"/>
    <logger name="*" minLevel="Trace" appendTo="asyncFileLogger"/>
  </rules>
</nlog>
